{% extends "base.html" %}

{% block header %}
<ul class="lightrope">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<section>
    <div><form action="/rgz/products"><button class="button_header" type="submit">Товары</button></form></div>
    <div><form action="/rgz/add_product"><button class="button_header" type="submit">Create</button></form></div>
    <div><form action="/rgz/orders"><button class="button_header" type="submit">Заказы</button></form></div>
    <div style="margin-left: 400px;"><form action="/rgz/create_order"><button class="button_header" type="submit">Корзина</button></form></div>
    <div><form action="/rgz/logout"><button class="button_header" type="submit">Выйти</button></form></div>
</section>
{% endblock %}


{% block main%}
    <h1>Create Order</h1>
    <form method="POST">
        <table>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
            </tr>
            {% for item in cart %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="button_user">Создать заказ</button>
    </form>
{% endblock %}